<app-banner></app-banner>
    <hr style="margin:0px">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/img/fondo.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="position: absolute; top: 40%;text-align: right;right: 5%;">
                <h3 style="font-size: 2.3rem;font-weight: bold; color: ;">INSTRUMENTAL QUIRÚRJICO</h3>
                <h5 style="font-size: 2rem;">Accesorios médicos</h5>
                <div class="btn py-3 px-4 mt-5" style="background: linear-gradient(#5FBA51,#329D9C );box-shadow: 0px 3px 9px #329D9C36;border-radius: 15px;color:#fff;font-weight:700;">COMPRAR</div>
            </div>
            </div>
            <div class="carousel-item">
            <img src="./assets/img/fondo2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"  style="position: absolute; top: 40%;text-align: right;right: 5%;">
                <h3 style="font-size: 2.3rem;font-weight: bold;">LINEA KENXIN</h3>
                <h5 style="font-size: 1.75rem;">Importadores exclusivos</h5>
                <h5 style="font-size: 2rem;">By Kenxin International CO.</h5>
                <div class="btn py-3 px-4 mt-5" style="background: linear-gradient(#5FBA51,#329D9C );box-shadow: 0px 3px 9px #329D9C36;border-radius: 15px;color:#fff;font-weight:700;">COMPRAR</div>
            </div>
            </div>
            <div class="carousel-item">
            <img src="./assets/img/fondo3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"  style="position: absolute; top: 40%;text-align: right;right: 5%;"> 
                <h3 style="font-size: 2.3rem;font-weight: bold;">MUEBLES HOSPITALARIOS</h3>
                <h5 style="font-size: 2rem;">Accesorios médicos</h5>
                <div class="btn py-3 px-4 mt-5" style="background: linear-gradient(#5FBA51,#329D9C );box-shadow: 0px 3px 9px #329D9C36;border-radius: 15px;color:#fff;font-weight:700;">COMPRAR</div>
            </div>
            </div>
        </div>
    </div>
    <div style="background: linear-gradient(48deg,#5FBA51,#329D9C ); padding: 60px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 linea" style="border-right:3px solid #fff;color: #fff;">
                <h3 style="font-weight:bold; font-size: 2rem;text-align: center;" data-aos="fade-down" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">IMPLEMEDICA LTDA.</h3>
                </div>
                <div class="col-md-6 text-left px-5" style="color: #fff; font-size: 1.43rem;" data-aos="fade-left" data-aos-once="false" data-aos-easing="linear" data-aos-duration="3000">
                    Importador y distribuidor de elementos médicos de laboratorio clínico, muebles hospitalarios e instrumental quirúrgico.
                </div>
            </div>
        </div>
    </div>
    <h2 class="py-5 font-weight-bold text-center" style="color:#707070;">PRODUCTOS</h2>
    <div class="container-fluid px-5">
        <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
            <div class="col-md-6  d-block d-md-none">
                <img src="./assets/img/linea.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
                </div>
            <div class="col-md-6">
                <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; color: #707070;">
                <h1 style="color: #35A09C;font-weight: bold; color: #5FBA51" >LINEA KENXIN</h1>
                    <br>
                    Somos importadores exclusivos de la línea <br>Kenxin para Colombia como Tubos al vacío,<br>agujas desechables, micro nebulizadores y<br>equipo de diagnóstico.
                </div>
                <div class="col-sm pt-4 text-right">
                    <img src="./assets/img/ver.png" alt=""><span style="border-bottom: 1px solid #5FBA51;">Ver más</span>
                </div>
            </div>
            <div class="col-md-6 px-0 d-none d-md-block">
            <img src="./assets/img/linea.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
        </div>
    </div>
    <div class="container-fluid px-5">
        <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
            <div class="col-md-6 px-0 d-none d-md-block">
                <img src="./assets/img/laboratorio.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
            <div class="col-md-6 d-block d-md-none">
                <img src="./assets/img/laboratorio.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
            <div class="col-md-6 text-right" >
                <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; color: #707070;" class="px-5">
                    <h1 style="color: #35A09C;font-weight: bold; color: #5FBA51">LABORATORIO CLÍNICO</h1>
                    <br>
                    Equipos e insumos de alta calidad<br>para el uso en análisis de hematología,<br>bioquímica clínica y bacteriología.
                </div>
                <div class="col-sm pt-4 text-right">
                    <img src="./assets/img/ver.png" alt=""><span style="border-bottom:1px solid #5FBA51;">Ver más</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-5">
        <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
            <div class="col-md-6 d-block d-md-none">
                <img src="./assets/img/material.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
            <div class="col-md-6">
                <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; font-weight: lighter; color: #707070;">
                    <h1 style="color: #35A09C;font-weight: bold; font-size: 30px; color: #5FBA51">MATERIAL<br>MEDICO QUIRURGICO</h1>
                    <br>
                    Somos distribuidores de equipo médico<br>de diagnóstico, materiales de<br>intervención quirúrgica y<br>productos sanitarios.
                </div>
                <div class="col-sm pt-4 text-right">
                    <img src="./assets/img/ver.png" alt=""><span style="border-bottom: 1px solid #5FBA51;">Ver más</span>
                </div>
            </div>
            <div class="col-md-6 px-0 d-none d-md-block">
                <img src="./assets/img/material.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
        </div>
    </div>
    <div class="container-fluid px-5">
        <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
            <div class="col-md-6 px-0 d-md-block d-none">
                <img src="./assets/img/muebles.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
            <div class="col-md-6 d-md-none d-block">
                <img src="./assets/img/muebles.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
            <div class="col-md-6  text-right">
                <div class="px-5" style="padding-top: 15%; padding-left: 10%; padding-right: 29%; font-size:18px; color: #707070;">
                    <h1 style="color: #35A09C;font-weight: bold; color: #5FBA51">MUEBLES HOSPITALARIOS</h1>
                    <br>
                    Tenemos toda la línea de muebles de consulta,<br>hospitalización y cirugía con la calidad exigida<br>por las diferentes normas colombianas.
                </div>
                <div class="col-sm pt-4 text-right">
                    <img src="./assets/img/ver.png" alt=""><span style="border-bottom: 1px solid #5FBA51;">Ver más</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-5">
        <div class="row mx-3" style="box-shadow: 0px 3px 6px #00000029;">
            <div class="col-md-6 d-block d-md-none">
                <img src="./assets/img/instrumental.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
                </div>
            <div class="col-md-6">
                <div style="padding-top: 15%;padding-left: 10%;padding-right: 29%; font-size:18px; color: #707070;">
                    <h1 style="color: #35A09C;font-weight: bold; color: #5FBA51">INSTRUMENTAL QUIRURGICO</h1>
                    <br>
                    Herramientas e implementos para la<br>intervención quirúrgica, suturas, sondas, electrobisturí y material relacionado con el campo.
                </div>
                <div class="col-sm pt-4 text-right">
                    <img src="./assets/img/ver.png" alt=""><span style="border-bottom: 1px solid #5FBA51;">Ver más</span>
                </div>
            </div>
            <div class="col-md-6 px-0 d-none d-md-block"> 
            <img src="./assets/img/instrumental.png" alt="" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
        </div>
    </div>
    <h2 class="pt-5 font-weight-bold text-center" style="color:#707070;">MARCAS QUE DISTRIBUIMOS</h2>
        <carousel [cellWidth]="300" [margin]="50" [loop]="true" [autoplay]="true">
            <div class="carousel-cell">
                <img src="./assets/img/img1.png">
            </div>
            <div class="carousel-cell">
                <img src="./assets/img/img2.png">
            </div>
            <div class="carousel-cell">
                <img src="./assets/img/img3.png">
            </div>
            <div class="carousel-cell">
                <img src="./assets/img/img4.png">
            </div>
            <div class="carousel-cell">
                <img src="./assets/img/img1.png">
            </div>
            <div class="carousel-cell">
                <img src="./assets/img/img2.png">
            </div>
            <div class="carousel-cell">
                <img src="./assets/img/img3.png">
            </div>
            <div class="carousel-cell">
                <img src="./assets/img/img4.png">
            </div>
        </carousel>
<app-footer></app-footer>
