<div style="background: linear-gradient(48deg,#5FBA51,#329D9C );" class="py-5">
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm text-md-left text-center px-5 py-3" style="color: #fff">
            CARRERA 18 No 39A - 50 BOGOTÁ, COLOMBIA.<br> CORREO: ventas@implemedica.com.co
        </div>
        <div class="col-sm py-3 text-center" style="color: #fff;">
            <h5>IMPLEMEDICA LTDA.</h5>
            <img src="./assets/img/LogoYoutube.png" alt="">&nbsp;&nbsp;&nbsp;<img src="./assets/img/instagram.png" alt="">&nbsp;&nbsp;&nbsp;<img src="./assets/img/whatsapp.png" alt="">&nbsp;&nbsp;&nbsp;<img src="./assets/img/facebook.png" alt="">&nbsp;&nbsp;&nbsp;<img src="./assets/img/LogoLinkedIn.png" alt="">
        </div>
            <div class="col-sm text-md-right text-center px-5 py-3" style="color: #fff">
                TELÉFONO: +57 (1) 2455922 -  2328693  <br>CELULAR: 316 830 1731 - 310 696 4517
            </div>
        </div>
    </div>
</div>