<div style="background: linear-gradient(48deg,#5FBA51,#329D9C );" class="py-5">
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm text-md-left text-center px-5 py-3" style="color: #fff">
            CARRERA 18 No 39A - 50 BOGOTÁ, COLOMBIA.<br> CORREO: ventas@implemedica.com.co
        </div>
        <div class="col-sm py-3 text-center" style="color: #fff;">
            <h5>IMPLEMEDICA LTDA.</h5>
                <a href="https://www.youtube.com/channel/UCqwvd4hgRdzPd9UPzpuCCJA/featured?view_as=subscriber"><img src="./assets/img/LogoYoutube.png" alt=""></a>
                &nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/implemedicaltda/?hl=es-la"><img src="./assets/img/instagram.png" alt=""></a>
                &nbsp;&nbsp;&nbsp;<img src="./assets/img/whatsapp.png" alt="">
                &nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/www.implemedica.com.co/"><img src="./assets/img/facebook.png" alt=""></a>
                &nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/company/implemedica-ltda/?feedView=images&viewAsMember=true"><img src="./assets/img/LogoLinkedIn.png" alt=""></a>
        </div>
            <div class="col-sm text-md-right text-center px-5 py-3" style="color: #fff">
                TELÉFONO: +57 (1) 2455922 -  2328693  <br>CELULAR: +57 316 6874442 - 310 6964386
            </div>
        </div>
    </div>
</div>