<app-banner></app-banner>
<h3 style="font-size: 2.3rem;font-weight: bold; color: #35A09C; text-align:center;" class="py-5">CONTACTO</h3>
    <div class=" text-center container py-3" style="padding-top: 15%;font-size:22px;color: #707070;">
        Empresa importadora y distribuidora de material medico, quirúrgico, instrumental medico, equipo y reactivos para laboratorio clínico, importador exclusivo de la marca KENXIN.​<br><br>Con experiencia de mas de 30 años en la linea medica, brinda respaldo, calidad y acompañamiento a nivel institucional, distribuidores y profesionales de la salud.
    </div>
    <div class="container py-4 contac mb-5 mt-4">
        <div class="row">
            <h3 style="font-size: 35px; color: #fff; text-align:center;" class="py-1 col-12">Contáctanos</h3>
            <div class="col-md-6 float-left">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="text" style="color: #000000;" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" style="color: #000000;" class="form-control" placeholder="Correo">
                    </div>
                    <div class="input-group mb-3">
                        <input type="number" style="color: #000000;" class="form-control" placeholder="Teléfono">
                    </div>
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <textarea _ngcontent-tpu-c17="" placeholder="Descripción" class="form-control" style="color: rgb(0, 0, 0);margin-top: 0px;margin-bottom: 0px;height: 146px;" spellcheck="false" data-gramm="false"></textarea>
                        <div _ngcontent-dub-c17="" class="btn mt-5" style="background: linear-gradient(#5FBA51,#329D9C );box-shadow: 0px 2px 9px #329D9C36;border-radius: 15px;color: #fff;font-weight: 700;position: absolute;right: 4px;bottom: 4px;">Enviar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 mb-5">
        <div class="row">
            <div class="col-md-6 float-left">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <h5 style="font-size: 24px;color: #35A09C; text-align:center;" class="py-2">Horario de atención</h5>
                        <div class=" text-center" style="font: size 20;color: #707070;">
                            ​Lunes a Viernes 8:00 am - 6:00 pm​<br>Sábado 8:00 am - 12:00<br><br> Carrera 18 No 39A - 50<br>Bogotá, Colombia.<br>Tel.  245 5922 - 232 8693 <br>288 6550 - 232 8592 - 232 8698.<br>Cel. 316 830 1731 - 310 696 4517 <br> 310 696 4386.
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8059477566317!2d-74.07387658523798!3d4.628682796637539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b1e6ee56337%3A0xd377b94c0c5d76ea!2sIMPLEMEDICA%20LTDA.!5e0!3m2!1ses!2sco!4v1598299271753!5m2!1ses!2sco" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                
                    </div>
                </div>
            </div>
        </div> 
    </div>  
    <app-footer></app-footer>

    