<app-banner></app-banner>
<section class="container">
    <div class="row">
        <div class="w-100 linneas my-4">
            <div class="float-left col-md-2 text-center align-self-center active" (click)="todos()" style="border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;">
                TODOS LOS <br> PRODUCTOS
            </div>
            <div class="float-left col-md-2 text-center align-self-center" (click)="kenxin()">
                LÍNEA   <br>KENXIN
            </div>
            <div class="float-left col-md-2 text-center align-self-center" (click)="laboratorio()">
                LABORATORIO  <br> CLÍNICO
            </div>
            <div class="float-left col-md-2 text-center align-self-center" (click)="quirurgico()">
                MATERIAL MÉDICO<br>QUIRÚRGICO
            </div>
            <div class="float-left col-md-2 text-center align-self-center" (click)="instrumental()">
                INSTRUMENTAL<br>QUIRÚRGICO
            </div>
            <div class="float-left col-md-2 text-center align-self-center" (click)="muebles()" style="border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;">
                MUEBLES<br>HOSPITALARIOS
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <div style="border-radius: 21px;box-shadow: 0px 2px 4px #00000029;padding: 10px;text-align: end;" class="my-3 col-md-3 float-right">
                <input style="border: none; width: 90%; outline: none;" placeholder="Buscar" (keyup)="filter($event.target.value)">
                <img  src="./assets/img/lupa.svg" alt="" style="width: 19px;">
            </div>
            <div  class="my-3 mx-2 col-md-3 float-right" style="border-radius: 21px;box-shadow: 0px 2px 4px #00000029;padding: 10px;text-align: center;" (click)="destacados()"><img src="./assets/img/Implemedica_Estrella2.svg" alt="" style="width: 22px;">Productos desctacados</div>
            <div  class="my-3 mx-2 col-md-3 float-right" style="border-radius: 21px;box-shadow: 0px 2px 4px #00000029;padding: 10px;text-align: center;" (click)="descuento()"><img src="./assets/img/Implemedica_Porcentaje2.svg" alt="" style="width: 22px;">Productos en descuento</div>    
            
        </div>
        <div class="col-12 float-left py-3" >
            <div class="col-md-3 float-left pt-4 product" *ngFor="let produc of productoss| paginate: { itemsPerPage: 12, currentPage: p }">
                <div *ngIf="produc.destacado" style=" position: absolute;top: 30px;right: 20px;"><img src="./assets/img/Implemedica_Estrella.svg" alt="" style="width: 50px;"></div>
                <div *ngIf="produc.promocion" style=" position: absolute;top: 30px;right: 20px;"><img src="./assets/img/Implemedica_Porcentaje.svg" alt="" style="width: 50px;"></div>
                <img src="{{produc.urlImg}}" alt="" class="img-fluid" style="width: 247px; height: 247px;">
                <br>
                <h5 class="font-weight-bold">{{produc.nombre}}</h5>
                <span style="font-size: 12px;">{{produc.desc}}</span>
                <div class="col-6 float-left px-0" style="font-size:14px"><span style="color:#5FBA51">Marca:</span> {{produc.linea}} <br><span style="color:#5FBA51"> COD:</span> {{produc.codigo}} </div>
                <div class="col-6 float-left"><div class="ver-mas" (click)="edit(produc)">Ver más</div></div>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event"  previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    </div>
</section>
<ngx-smart-modal #myModal identifier="myModal" *ngIf="info!=null" (onClose)="add(cantidad)">
    <div class="row">
        <div class="col-md-6 float-left">
          <img [src]="myModal.getData()['urlImg']" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 style="letter-spacing: 0px;  color: #5FBA51;  font-weight: bold;  font-size: 20px;" class="mb-0">{{myModal.getData()['nombre']}}</h2>
            <span style="letter-spacing: 0px; font-size: 15px;" class="my-0">{{myModal.getData()['descripcion']}}</span><br><br>
            <span style="letter-spacing: 0px; font-size: 15px;" class="my-0"><strong style=" color: #5FBA51;">Categoría:</strong>&nbsp;&nbsp;{{myModal.getData()['marca']}}</span><br>
            <span style="letter-spacing: 0px; font-size: 15px;" class="my-0"><strong style=" color: #5FBA51;">COD:</strong>&nbsp;&nbsp;{{myModal.getData()['codigo']}}</span><br>
            <span><strong style=" color: #5FBA51;">Cantidad</strong>&nbsp;&nbsp;<input [(ngModel)]="cantidad" type="number" width="20px"></span><br><br><br>
            <div class="btn py-2 px-4 float-right my-3" (click)="myModal.close()" style="background: linear-gradient(#5FBA51,#329D9C );box-shadow: 0px 3px 9px #329D9C36;border-radius: 15px;color:#fff;font-weight:700;">Agregar</div>
          </div>
    </div>
</ngx-smart-modal>
<app-footer></app-footer>
