.linneas{
    background: #615F5F12 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 9px #5FBA51;
    border-radius: 50px;
}
.linneas .col-2{
    padding: 18px 0px;
    color: #35A09C;
    border-right: 1px solid #70707070;
    cursor: pointer;
}
.linneas .col-2.active{
    font-weight: bold;
}
.linneas .col-2:last-child{
    border-right: none;
}
.linneas .col-2:nth-child(2){
    border-right: none;
}
.linneas .col-2:nth-child(3){
    border-left: 1px solid #70707070;
}
img{
    border-radius: 21px;
}
.ver-mas{
    background: linear-gradient(#5FBA51,#329D9C );
    box-shadow: 0px 3px 9px #329D9C36;
    border-radius: 15px;
    color:#fff;
    font-weight:700;
    text-align: center;
    padding: 5px 0px;
}
.product{
    height: 400px;
}