<div id="container">
	<div id="sidebar">
		<div class="bar pt-3 text-center">
			<img src="./assets/img/usuario.svg"  (click)="csesion()" alt="" style="width: 37px;">
		</div>

		<div class="bar pt-5 mt-5 text-center">
			<img class="p-2 selected" src="./assets/img/carcom.svg" alt="" (click)="pedidos()">
		</div>

		<div class="bar pt-2 text-center">
			<img src="./assets/img/caja.svg" alt="" (click)="inventario()">
		</div>

		<div class="bar pt-2 text-center">
			<img src="./assets/img/inventarios.svg" alt="" (click)="reportes()">
		</div>

		<div class="bar pt-2 text-center">
			<img src="./assets/img/reportes.svg" alt="">
    </div>
    <div class="bar pt-2 text-center" style="position: absolute;bottom: 5%;">
      <img src="./assets/img/toma.svg" alt="">
    </div>
    <div class="bar pt-2 text-center" style="position: absolute;bottom: 10%;">
      <img src="./assets/img/config.svg" alt="">
    </div>
    </div>
    <div>
        <div class="mx-5">
            <h3 style="font-size: 35px; color: #35A09C; text-align:center; font-weight: 500;" class="pt-5 col-12">Pedidos</h3>
        </div>
        <section class="container">
            <div class="row">
                <div class="col-12">
                  <div style="border-radius: 21px;width: 25%;box-shadow: 0px 2px 4px #00000029;padding: 10px;margin-left: 75%;text-align: end;" class="my-3">
                    <input style="border: none; width: 90%;" placeholder="Buscar">
                    <img  src="./assets/img/lupa.svg" alt="" style="width: 19px;">
                  </div>

                  <ngx-datatable class="bootstrap" [rows]="rows" 
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="0"
                  rowHeight="auto"
                  [limit]="10">
                    <ngx-datatable-column name="Pedido">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div  (click)="detalle(row)">SK{{row.id}}</div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Productos">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div  (click)="detalle(row)">{{row.productoss |slice:1:50}}</div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Cantidad">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div  (click)="detalle(row)">{{row.cantidad }}</div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Cliente">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div  (click)="detalle(row)">{{row.nombre}}</div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div  (click)="detalle(row)">{{row.fecha | date:'dd/MM/yyyy'}}</div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div  (click)="detalle(row)">{{row.estado}}</div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
                <div class="col-12">
                  <div class="col-md-4 float-left text-left">
                    <img src="./assets/img/up.png" alt="" style="width: 50px;">
                  </div>
                  <div class="col-md-4 float-right text-right">
                    <div class="btn py-3 px-4" style="background: linear-gradient(#5FBA51,#329D9C );box-shadow: 0px 3px 9px #329D9C36;border-radius: 15px;color:#fff;font-weight:700;">Reportes</div>
                  </div>
                </div>
            </div>
            
          </section>
    </div>
</div>