<div id="container">
	<div id="sidebar">
		<div class="bar pt-3 text-center">
			<img src="./assets/img/usuario.svg" (click)="csesion()" alt="" style="width: 37px;">
		</div>

		<div class="bar pt-5 mt-5 text-center">
			<img src="./assets/img/carcoma.svg" alt="" (click)="pedidos()">
		</div>

		<div class="bar pt-2 text-center">
			<img src="./assets/img/caja.svg" alt="" (click)="inventario()">
		</div>

		<div class="bar pt-2 text-center">
			<img src="./assets/img/inventarios.svg" alt="" (click)="reportes()" >
		</div>

		<div class="bar pt-2 text-center">
			<img  src="./assets/img/reportesv.svg" alt="" class="selected py-2">
    </div>
    <div class="bar pt-2 text-center" style="position: absolute;bottom: 5%;">
      <img src="./assets/img/config.svg" alt="">
    </div>
    </div>
    <div>
        <div class="mx-5">
            <h3 style="font-size: 35px; color: #35A09C; text-align:center; font-weight: 500;" class="pt-5 col-12">Reportes</h3>
        </div>  
        <section class="container">
            <div class="row">
                <div class="col-12 mx-5">
                    <div class="col-md-4 float-left">
                        <h2 class="font-weight-bold text-center" style="color:#707070; font-size: 20px;">Fecha</h2>
                        <mat-form-field appearance="outline" class="form-group px-5 w-100">
                            <mat-select [(ngModel)]="ano" (selectionChange)="anos()">
                              <mat-option value="2020">2020</mat-option>
                              <mat-option value="2021">2021</mat-option>
                              <mat-option value="2022">2022</mat-option>
                              <mat-option value="2023">2023</mat-option>
                              <mat-option value="2024">2024</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 float-left">
                        <h2 class="font-weight-bold text-center" style="color:#707070; font-size: 20px;">Filtros</h2>
                        <mat-form-field appearance="outline" class="form-group w-100 px-5">
                            <mat-select [(ngModel)]="linea" (selectionChange)="lineas()">
                              <mat-option value="KENXIN">KENXIN</mat-option>
                              <mat-option value="Laboratorio">Laboratorio</mat-option>
                              <mat-option value="Material Quirurgico">Material Quirurgico</mat-option>
                              <mat-option value="Instrumental Quirurgico">Instrumental Quirurgico</mat-option>
                              <mat-option value="Muebles Hospitalarios">Muebles Hospitalarios</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> 
                <div class="my-5 col-12">
                    <div id="barChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                </div>    
            </div>
        </section>         
        
    </div>
</div>