/* You can add global styles to this file, and also import other style files */
@import '../node_modules/aos/dist/aos.css'; 
@import "~ngx-smart-modal/ngx-smart-modal";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
.popover{
    width: 180px;
}
.popover-body{
    padding: 0px;
}
.popover-body hr{
    margin: 0px;    
}
.popover-body div{
    padding: 10px;
}
.popover-body div:hover{
    background-color: #5FBA51;
    color: #fff;
}
.modal-content{
    border: 1px solid #5FBA51;
    border-radius: 10px;
}
.modal.show .modal-dialog{
    max-width: 80%;

}
.modal-body{
    max-width: 500px;
}
.nsm-dialog{
    max-width: 50%;
    margin: 8% auto;
}
@media all and (max-width:800px){
    .nsm-dialog{
        max-width: 80%;
        margin: 8% auto;
    }
}
html, body { height: 100%; }
.mat-form-field-outline {
    border-radius: 21px;
    border: 1px solid;
    box-shadow: 0px 3px 9px #00000029;
}
.mat-form-field-outline > div {
    display: none;
}
.mat-form-field{
    margin: 0px;
}
.mat-form-field-type-mat-input.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: .5em 0px;
    border-top-width: 10px;
    border-bottom: 2px solid transparent;
}
.mat-form-field-type-mat-select.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: .5em 0px;
    border-top-width: 10px;
    border-bottom: 2px solid transparent;
}
.mat-form-field-appearance-outline div.mat-form-field-wrapper{
    margin: 0px; padding: 0px;
}