.fondo{
    background: #5FBA51 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 21px 21px 0px 0px;
    opacity: 1;
    color: #FFFFFF;
    font-weight: bold;
}
.contac{
    background: transparent linear-gradient(180deg, #F9F9F9 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 9px #329D9C36;
    border-radius: 21px;   
    color: #000000;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5FBA51;
    opacity: 1; /* Firefox */
  }
  .banner{
    box-shadow: 0px 3px 6px #00000029;
}
.form-group input,.form-group select{
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 21px;
    padding-left: 5px;
}
.porduc > div:nth-child(odd){
    background-color: #F9F9F9; color: #707070;
}
.porduc > div:nth-child(even){
    background-color: #EFEFEF; 
	color: #707070;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #D9D9D999;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00000029; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #00000029; 
}